/*-------------------BODY-------------------*/
body{
    /*Alinea el texto hacía el centro*/
    text-align: center;
    z-index: 1; 
}

.contenedor{
    /*El padding evita que los elementos se peguen al borde del elemento padre*/
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
   /*Va a colocar los elementos de manera horizontal*/
   display: flex;
   /*Alinea los elementos a la izquierda*/
   justify-content: center;
   align-items: center;
    /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
    z-index: 1;
}


/*-------------------DIVISION-------------------*/
/*Las divisiones son las que contienen los elementos con los que interactua el usuario*/
.division{
    /*Margen de la división para alejarla del borde de la pantalla*/ 
    margin: 0.5rem;
    padding: 0.5rem;
     /*Borde sólido*/
    border: 1px solid #71f5f0;
    /*Hace que la division se ajuste a lo que tiene por dentro*/
    width: 40%;
    /*Color de fondo*/
    background-color: #71f5f0;
    /*La opacidad permite que el elemento tenga una cierta transparencia*/
    opacity: 0.85;
    /*Redondea los bordes*/
   border-radius: 5%;
    /*Centra el texto*/
    text-align: center;
    /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
    z-index: 1;
  }

  .divisionLogout{
    /*Coloca la división hacía la derecha*/  
    float:right;
    /*El padding evita que los elementos se peguen al borde del elemento padre*/
   padding-right: 3rem;
   padding-top: 1rem;
   /*Alinea el elemento hacía el centro*/
   display:flex;
   align-items: center;
   justify-content: center;
    /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
    z-index: 1;
   }

/*-------------------BOTON-------------------*/
.boton{
     /*Estilo de letra*/
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    color: black;
      /*Color del botón*/
    background-color: #f5db58;
    border-color: #f5db58;
    /*Redondear bordes*/
    border-radius: 5%;
    width: 80%;
    height: 4rem;
    margin: 1.2rem;
   /*Establece la manera como se va a ordenar el botón con respecto a los otros elementos*/
   display: inline-block;
   /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
   z-index: 1;
}

/*El botón cambia de color cuando el cursor está encima de este*/
.boton:hover{
    background-color: #f589df;
    border-color: #f589df;
    color: black;
}


.botonLogout{
    color: #a89845;
    /*Color del botón*/
    background-color: #a89845;
    border-color: #a89845;
    border: 5rem;
    /*Redondear bordes*/
    border-radius: 50%;
     /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
     z-index: 1;
}

/*El botón cambia de color cuando el cursor está encima de este*/
.botonLogout:hover{
    background-color: #f589df;
    border-color: #f589df;
}

/*-------------------TITULOS-------------------*/
h1{
     /*Estilo de letra*/
     font-family: 'Merriweather', serif;
     font-size: 25px;
     color: #a89845;
     display: inline-block;
      /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
      z-index: 1;
}

/*-------------------IMÁGENES-------------------*/
/*Icono de Logout*/
.imagenLogout{
    /*Tamaño*/
    width: 50px;
    height: 50px; 
    display: inline-block;
    border-radius: 50%;   
     /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
     z-index: 1;
}

/*-------------------INPUT-------------------*/
/*Es el espacio donde el usuario ingresa los datos*/
input{
    /*Estilo de letra*/
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    color: black;
    /*Color de fondo*/
    background-color: #71f5f0;
    border-color: #3da8a5;
    /*Redondear bordes*/
    border-radius: 5%;
    /*Tamaño del input*/
    width: 80%;
    height: 4rem;
    margin: 0.5rem;
    /*Establece la manera como se va a ordenar el botón con respecto a los otros elementos*/
    display: inline-block;
    /*Si la imagen de fondo está en el z-index: 0, los demás elementos deben estar en una posición más adelante*/
    z-index: 1;
}
/*------------------- ERROR -------------------*/
/*
Diseño del mensaje de error, tomado de: 
https://www.tpgi.com/simple-inline-error-message-pattern/
*/
#errorNombre, #errorCorreo, #errorContrasena, #errorConfirmacionContrasena{ position:absolute;
  left: 230px;
  display:none;
    color:#555;
    border-radius:5px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:.8em;
    padding:5px 5px 5px 30px;
    margin:-4px 0px 0px 0px;
  background:#ffecec url('./../../../../../assets/images/cross.png') no-repeat 10px 50%;
    border:2px solid #f5aca6;
  }